html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

//COLOR VARIABLES //
$color-text--dark: #575151;
$color-text--light: #8a8484;
$color-black: #3f3b3b;
$color-orange: #feb062;

// MEDIA QUERY VARIABLES//
$bp-large: 50em; //800px
$bp-medium: 37.5em; //600px
$bp-small: 31.25em; //500px

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    line-height: 1.6;
}

section,
header {
    margin: 7rem 0;

}

.btn {
    padding: 1rem 3.5rem;
    border-radius: 20rem;
    border: 2px solid $color-orange;
    background-color: transparent;
    text-transform: uppercase;
    color: $color-orange;
    font-weight: bold;
    cursor: pointer;
    transition: all .4s;


    &-gray {
        background-color: $color-text--light;
        border-color: transparent;
        color: #ffffff;
    }

    &-full {
        background-color: $color-orange;
        color: #ffffff;

    }

    &:hover {
        background-color: $color-orange;
        color: $color-text--dark;
    }
}