.contact-form {
    display: grid;
    grid-template-rows: min-content 1fr;

    h1 {
        font-size: 30rem;
        color: rgba($color-orange, 0.8);
        justify-self: center;

    }
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    justify-items: center;
    align-items: center;
    font-size: 1.5rem;
    color: $color-text--dark;


    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        justify-items: center;

        .text-box {
            grid-column: 1 / -1;
            display: flex;
            flex-direction: column;
            justify-content: center;

        }


        input {
            background: none;
            border: none;
            outline: none;
            font-size: 1.8rem;
            color: $color-text--dark;
            border-bottom: 1px solid;
            padding: 1rem;
            padding-bottom: 3rem;

        }

        button {
            grid-column: 1 / -1;
            justify-self: center;
        }
    }
}