.contact-form {
    display: grid;
    grid-template-rows: min-content 1fr;

    h1 {
        font-size: 20rem;
        letter-spacing: 1.3rem;
        color: rgba($color-orange, 0.8);
        justify-self: center;

    }
}

.form-container {
    display: grid;
    grid-template-columns: 35vw 1fr;
    gap: 5rem;
    justify-items: center;
    align-items: center;
    font-size: 1.5rem;
    color: $color-text--dark;

    .form-info {
        align-self: start;
        justify-self: right;
        line-height: 5rem;
        font-size: 2rem;
    }

    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding-bottom: 5rem;

        .text-box,
        .text-box label {
            grid-column: 1 / -1;
            text-align: center;
            padding-top: 2rem;


        }


        input,
        textarea {
            background: none;
            border: none;
            outline: none;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.8rem;
            color: $color-text--dark;
            border-bottom: 1px solid;
            padding: 1rem;
            min-width: 100%;
            max-width: 100%;

        }

        button {
            grid-column: 1 / -1;
            justify-self: center;
        }
    }
}