.cta {
    display: grid;
    grid-template-rows: 1fr 10vh 1fr;
    align-content: center;
    justify-content: center;

    text-align: center;

    &__buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;

    }

}