.cta {
    display: grid;
    grid-template-rows: 1fr 10vh 1fr;
    align-content: center;
    justify-content: center;

    text-align: center;
    padding: 0 10%;

    &__buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;

        @media only screen and (max-width: $bp-small) {
            justify-self: center;
            align-self: center;
        }


    }

}