.overview {
    height: 70vh;
    background-image: linear-gradient(to bottom, white 10%, transparent 100%), url(../img/overview-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    display: grid;
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: center;

    text-align: center;

    @media only screen and (max-width: $bp-small) {
        background-size: contain;
        background-position: bottom;
        background-image: linear-gradient(to bottom, white 50%, transparent 100%), url(../img/overview-bg.jpg);
    }

    &__content {
        padding: 8rem;


        display: grid;
        grid-template-rows: 10% 1fr;
        gap: 1rem;
        justify-content: center;

        h1 {
            align-self: center;
        }

        @media only screen and (max-width: $bp-medium) {
            grid-template-rows: 20% 1fr;
            padding: 0 8rem;
        }

        @media only screen and (max-width: $bp-small) {
            padding: 0 4rem;
        }

    }

}