.overview {

    height: 70vh;
    background-image: url(../img/section-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2, minmax(30vw, 1fr));
    grid-template-rows: min-content;

    &__content {
        grid-column: 2 / -1;
        padding: 8rem;

        display: grid;
        gap: 1rem;
    }

}