.socials {
    text-align: center;
    width: 70%;
    margin: 2% auto;

    &__images {
        display: grid;
        grid-auto-flow: column;
        gap: 1rem;
        align-items: center;
        justify-items: center;
    }

    &__logos {
        width: 5rem;
        height: 5rem;
    }
}