.testimonials {
    display: grid;
    grid-template-rows: 10vh 1fr;
    background-image: url("/img/section-bg.jpg");

    h1 {
        justify-self: center;
        align-self: end;
    }

    &__section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        &--content {
            padding: 10% 20%;
            display: grid;
            grid-template-rows: 40% 1fr;
            row-gap: 2rem;

            &--customer {
                display: grid;
                grid-template-columns: 25% 1fr;
                align-items: center;
                column-gap: 1rem;

                img {
                    width: 8rem;
                    height: 8rem;
                    object-fit: cover;
                    border-radius: 100rem;
                    justify-self: center;
                }
            }

            &--review {
                border-radius: 2px;
                background-color: #ffffff;
                border: .5px solid lightgrey;
                box-shadow: 0 5px 10px rgba($color: #706969, $alpha: 0.2);

                line-height: 25px;
                max-width: 95%;
                justify-self: end;
                position: relative;

                p {
                    word-wrap: break-word;
                    max-width: 40rem;
                    padding: 5%;
                }

                &:before {
                    content: '';
                    position: absolute;
                    width: 0px;
                    height: 0px;
                    top: -11px;
                    left: 15px;

                    border-bottom: 12px solid #fff;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;

                }
            }
        }
    }
}

/*
.message{
            margin-top: 20px;
            color: #fff;
            font-size: 15px;
            border-radius: 3px;
            padding: 20px;
            line-height: 25px;
            max-width: 500px;
            word-wrap: break-word;
            position: relative;


            &:before{
                content: '';
                position: absolute;
                width: 0px;
                height: 0px;
                top: -12px;
                
                border-bottom: 12px solid #62bf6e;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
            }
        }*/