h1,
h2,
h3 {
    font-family: 'Open Sans', sans-serif;
    color: $color-text--dark;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.2rem;
}

.heading {
    font-size: 15rem;
    letter-spacing: 1.3rem;
    color: rgba($color-orange, 0.8);
    justify-self: center;
    align-self: center;
    text-align: center;

    @media only screen and (max-width: $bp-large) {
        font-size: 10rem;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 7rem;
        letter-spacing: .8rem;
    }
}

p {
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 1px;
}

li {
    list-style: none;
}

.link {
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: capitalize;
    color: $color-text--light;
    transition: all .2s ease-in;
    padding-bottom: 3rem;
    border-bottom: 3px solid transparent;

    &--active {
        color: $color-orange;
    }

    &:hover {
        color: $color-black;
        border-bottom: 3px solid $color-black;
    }
}